.about-banner {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to top, rgba(0, 36, 107, 0.5), rgba(0, 36, 107, 0.5)), url("../../assets/image/researcher.png") no-repeat top center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .about-text-box {
        width: 50%;
        margin: auto;

        .about-text {
            padding-top: 15%;
            text-align: center;

            font-family: Open Sans;
            color: #FFF;

            h2 {
                font-size: 56px;
                font-weight: 700;
            }

            span {
                font-size: 18px;
                font-weight: 700;
                line-height: 150%;
            }
        }
    }
}

.about-box-content {
    .we-are {
        padding: 0 8%;
        margin-top: 80px;

        .we-are-box1 {
            display: flex;
            gap: 20px;

            .we-are-img1 {
                width: 260px;
                height: 340px;
                background: #003F7C;
            }

            .we-are-img2 {
                margin-top: 80px;
                width: 260px;
                height: 340px;
                background: #003F7C;
            }
        }

        .we-are-box2 {
            button {
                border: 0;
                color: #FFF;
                font-size: 20px;
                font-weight: 700;
                padding: 10px 32px;
                border-radius: 10px;
                background: #003F7C;
            }
        }
    }

    .select-us {
        color: #fff;
        padding: 5% 10%;
        margin-top: 80px;
        background: #003F7C;

        .select-info-box {
            width: 300px;
            height: 340px;
            margin-left: 3%;
            border-radius: 12px;
            border: 2px solid #fffbfb;
            background: rgba(255, 0, 0, 0);

            .select-text {
                color: #fff;
                text-align: center;
                font-family: Open Sans;
                padding-top: 20px;

                h5 {
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                }

                span {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;

                }
            }

            img {
                width: 290px;
                height: 350px;
                border-radius: 10px;
            }
        }
    }

}