.test {
    padding: 7%;

    .testimonial-top-content {
        width: 80%;
        margin: auto;
        text-align: center;
        font-family: Open Sans;

        h2 {
            color: #00246B;
            font-size: 36px;
            font-weight: 600;
        }

        p {
            color: #333;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .testimonial-bottom-content {
        .user-review-box {
            width: 100%;
            background: #fff;
            padding: 20px;

            .box-data {
                padding: 20px;
                border-radius: 20px;
                background: #eee9e9;

                .user-review-card-left {
                    img {
                        border-radius: 0 0 100px 100px;
                    }
                }

                .user-review-card-right {
                    font-family: Open Sans;

                    .rating-desc {
                        color: #666;
                        font-size: 16px;
                        font-weight: 400;
                    }

                    .user-info {
                        .name {

                            color: #3A3A3A;
                            font-size: 16px;
                            font-weight: 600;
                        }

                        .role {
                            color: #999;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }

        }
    }

}